body {
    font-family: Avenir !important;
  }
  
  h1 {
    font-family: Avenir !important;
  }
  .mb-3 {
    color: rgb(217, 184, 138) !important;
  }
  
  .mb-3-introtext {
    color: black;
  }
  .cta{
    background-color: rgba(205, 156, 108, 0.776) !important;
  }
  .locationSize{
    height: 35%;
    width: 35%;
  }
  .locationCenter{
    text-align: center !important;
  }